################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/GetLinks/v15
/GetLinks
/packages/HtmlAgilityPack.1.8.14
